<li class="conversation" id="js-conversation-<%= conversation.id %>">
	<div class="inner">
		<ul class="conversation__tags clearfix">
			<% _.forEach(conversation.tags, function(tag) { %>
				<li class="tag"><%= tag.name %></li>
			<% }); %>
		</ul>
		<ul class="conversation__messages">
			<% _.forEach(conversation.messages, function(message) { %>
				<li class="message">
					<div class="inner">
						<img src="<%= message.user.avatar %>">
						<div class='row-1'>
							<span class="name"><%= message.user.realname %></span>
							<span class="time"> <%= toRelativeTime(message.timestamp) %></span>
							<span class="location"> <%= message.user.location %></span>
							<span class="provider"> via <%= message.provider %></span>
						</div>
						<div class="body"><%= message.message %></div>
					</div>
				</li>
			<% }); %>
		</ul>
		<h4 class="conversation__articles-title">Matching articles</h3>
		<ul class="conversation__articles">
			<% _.forEach(conversation.articles, function(article) { %>
				<li class="article <% if (article.image) { %>has-image<% } %>">
					<div class="inner">
						<% if (article.image) { %> <img src="<%= article.image.url %>"/> <% } %>
						<h5 class="title"><a href="article.uri" target="_blank"><%= article.title %></a></h5>
						<div class="excerp"><%= article.excerpt %></div>
					</div>
				</li>
			<% }); %>

			<% if (!conversation.articles) { %>
				<li class="article">No matching articles found</li>
			<%  } %>
		</ul>
	</div>
</li>